{% extends 'base.html' %}
{%load static%}

{% block title %} Home {% endblock title %}

{% block contenido %}
<h1 class="text-center h1-h"> Bienvenidos a Django</h1>

<div class="c-b">
        <input type="radio" name="position" checked />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <main id="carousel">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
        </main>
</div>
{% endblock  %}

